* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}


nav {
    background-color: #212121;
    height: 50px;

    /* position: -webkit-sticky;
    position: sticky;
    top: 50px; */
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted #000;
    padding-right: 28px;
}

.menu .menu_item:last-child {
    border-right: none;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    opacity: .5;
    margin-top: 6px;
}

.subheader .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 19px;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border: none;
} 

.promo {
    min-height: 800px;
    background: url('../img/bg-main.jpg') center center / cover no-repeat;
    padding: 150px 0 135px 0;
    /* transform: translateY(-87px); */
    /* z-index: 1; */
    /* padding-bottom:2000px */
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr  {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    padding: 18px 0 65px 0;
}

.label {
    margin: 0 auto;
    /* margin-top: 71px; */
    width: 112px;
    height: 24px;
    background: #000000;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 12px;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px; /* 116 */
    height: 113px;
    background: #1eacc7;
    border-radius: 100%;
    margin-right: 26px;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
    line-height: 21px;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
